#chatbox {
    margin: 0;
    height: 630px; 
    color: white; 
    overflow-y: scroll;
}

#header {
    height: 10%;
    background-color: rgb(90, 90, 90);
}

#body {
    height: 75%;
    background-color: rgb(39, 39, 39);
    overflow-y: scroll;
}

#input {
    height: 15%;
    background-color: rgb(70, 70, 70);
}

#input-box {
    width: 90%; 
    height: 70px; 
}

#input-for-chatbox {
    justify-content: right;
    text-align: right;
    border-radius: 30px;
    background-color: rgb(83, 83, 191);
    margin: 20px;
}

#output-for-chatbox {
    justify-content: left;
    text-align: left;
    border-radius: 30px;
    background-color: rgb(140, 63, 208);
    margin: 20px;
}
